---
import { Protected } from "../components/Protected";
import { SignOutButton } from "../components/SignOutButton";
---

<html>
  <body>
    <SignOutButton client:idle />
    <Protected />
  </body>
</html>
<style>
  body {
    background: orange;
  }
</style>
