---
const data = Astro.locals.user;
console.log({ data });
---

<html>
  <body>
    <h1>Hello, World!</h1>
    <p style="color: orangered; font-weight: 600; font-size: larger;">
      I'm protected
    </p>
    <p>{data}</p>
  </body>
</html>
<style>
  h1 {
    color: orange;
  }
</style>
