---
import { User } from "astro:db";
import { db } from "astro:db";

// Welcome to Astro! Everything between these triple-dash code fences
// is your "component frontmatter". It never runs in the browser.
console.log("This runs in your terminal, not the browser!");
const currentUser = await db.select().from(User);
console.log({ currentUser });
---

<!-- Below is your "component template." It's just HTML, but with
    some magic sprinkled in to help you build great templates. -->
<html>
  <body>
    <h1>Hello, World!</h1>
    <p>I'm protected</p>
    <!-- <p>{currentUser[0].role}</p>
    <p>{currentUser[0].userName}</p> -->
  </body>
</html>
<style>
  h1 {
    color: orange;
  }
</style>
