---
import { eq } from "astro:db";
import { User } from "astro:db";
import { db } from "astro:db";

// Welcome to Astro! Everything between these triple-dash code fences
// is your "component frontmatter". It never runs in the browser.
console.log("This runs in your terminal, not the browser!");
// const users = await db.select().from(User).get({});
// console.log({ users });
// const user = Array.from(A);
// const title = Astro.locals
// const data = Astro.locals.user.email;
const data = Astro.locals;
console.log({ data });
---

<!-- Below is your "component template." It's just HTML, but with
    some magic sprinkled in to help you build great templates. -->
<html>
  <body>
    <h1>Hello, World!</h1>
    <p style="color: orangered; font-weight: 600; font-size: larger;">
      I'm protected
    </p>
    <!-- <p>{currentUser.role}</p> -->
    <!-- <p>{currentUser.email}</p> -->
  </body>
</html>
<style>
  h1 {
    color: orange;
  }
</style>
