---
import { SignOutButton } from "../components/SignOutButton";

const data = Astro.locals;
const datauser = Astro.locals.user;
console.log({ data, datauser });
---

<html>
  <body>
    <!-- {!data && <p style="color: orangered; font-weight: 600; font-size: larger;">
      You don't have access. I'm protected
    </p>} -->
    <SignOutButton client:idle currentUser={datauser} />
    <!-- {data &&  <h1>Hello, World!</h1>
    <p style="color: orangered; font-weight: 600; font-size: larger;">
      Great! you have access
    </p>
    <p>{data}</p>
    } -->
  </body>
</html>
<style>
  h1 {
    color: orange;
  }
</style>
